[Desktop Entry]
Name=REChain
Comment=Decentralized Matrix Messenger
Exec=/usr/bin/rechain
Icon=rechain
Terminal=false
Type=Application
Categories=Network;Chat;InstantMessaging;
Keywords=Matrix;Chat;Messenger;Blockchain;
