<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877790798155-do64urg89fr961eur4iusehvhq66icbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877790798155-do64urg89fr961eur4iusehvhq66icbp</string>
	<key>API_KEY</key>
	<string>AIzaSyBU0ZoMSuAlJuQJzlt48wA2w8Bc4H9GZt0</string>
	<key>GCM_SENDER_ID</key>
	<string>877790798155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rechain.online</string>
	<key>PROJECT_ID</key>
	<string>rechainonline-d4190</string>
	<key>STORAGE_BUCKET</key>
	<string>rechainonline-d4190.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877790798155:ios:b589b9a3ba971779d848ce</string>
</dict>
</plist>