[Desktop Entry]
Type=Application
Version=4.1.4
Name=REChain
Comment=The inclusion of polls enhances decision-making processes by facilitating quick and efficient feedback gathering.
Exec=AppRun
Icon=REChain
Terminal=false
Categories=Network;Chat;InstantMessaging;X-Matrix;