[Desktop Entry]
Type=Application
Name=REChain ®️ 🪐 ✨
Icon=com.rechain.online
Exec=REChain %U
Categories=Network;InstantMessaging;Chat;VideoConference;
Keywords=REChain;Chat;Messenger;Social
X-Purism-FormFactor=Workstation;Mobile;
